@use "@styles/palette";

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  animation: rotation 1s linear infinite;
  border-color: palette.$black-color;
  border-bottom-color: transparent;
  border-style: solid;
  border-width: 3px;
  border-radius: 50%;
  box-sizing: border-box;
  height: 3rem;
  display: inline-block;
  width: 3rem;

  &__xs {
    border-width: 1px;
    height: 1rem;
    width: 1rem;
  }

  &__sm {
    border-width: 2px;
    height: 2rem;
    width: 2rem;
  }

  &__md {
    border-width: 3px;
    height: 3rem;
    width: 3rem;
  }

  &__lg {
    border-width: 5px;
    height: 5rem;
    width: 5rem;
  }

  &__xl {
    border-width: 8px;
    height: 8rem;
    width: 8rem;
  }
}
