@use "@styles/mixins";
@use "@styles/palette";
@use "@styles/variables";

.text {
  @include mixins.reset-text-styles;
  color: palette.default-font-color("light");
  font-family: variables.$font-family;
  font-size: variables.$font-size;
  font-style: normal;
  line-height: 1.5rem; // 24px
  text-align: center;

  &[data-theme="dark"] {
    color: palette.default-font-color("dark");
  }

  &--bold {
    font-weight: 600;
  }

  &--full-width {
    width: 100%;
  }

  &--left {
    text-align: left;
  }

  &--right {
    text-align: right;
  }

  &__xs {
    font-size: 0.625rem; // 10px
  }

  &__sm {
    font-size: 0.75rem; // 12px
  }

  &__lg {
    font-size: 1rem; // 16px
  }

  &__xl {
    font-size: 1.125rem; // 18px
  }
}
