$black-color: #000000;

$primary-palette: (
  50: #F59CFD,
  100: #F16AFD,
  200: #EC39FC,
  300: #E707FB,
  400: #BC03CD,
  500: #8D029B, // mauveine
  600: #7B0285,
  700: #66026F,
  800: #520159,
  900: #3D0143,
);

$white-color: #FFFFFF;
