@use "@styles/palette";
@use "@styles/variables";
@use "sass:map";

.qr-code {
  background-color: palette.$white-color;
  border-radius: map.get(variables.$border-radius, "lg");
  padding: 1rem; // 16px
}
