@use "@styles/mixins";
@use "@styles/palette";
@use "@styles/variables";

.heading {
  @include mixins.reset-text-styles;
  color: palette.default-font-color("light");
  font-family: variables.$font-family;
  font-size: 1.25rem; // 20px
  font-style: normal;
  font-weight: 600;
  line-height: 1.5rem; // 24px
  text-align: center;

  &[data-theme="dark"] {
    color: palette.default-font-color("dark");
  }

  &--bold {
    font-weight: 700;
  }

  &--full-width {
    width: 100%;
  }

  &--left {
    text-align: left;
  }

  &--right {
    text-align: right;
  }

  &__xs {
    font-size: 0.875rem; // 14px
  }

  &__sm {
    font-size: 1rem; // 16px
  }

  &__lg {
    font-size: 1.375rem; // 22px
    line-height: 2rem; // 32px
  }

  &__xl {
    font-size: 1.5rem; // 24px
    line-height: 2.5rem; // 40px
  }
}
