@use "@styles/media";
@use "@styles/palette";
@use "@styles/variables";
@use "sass:map";

.modal {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 9999;

  &__container {
    animation: slideUpFadeIn 300ms ease forwards;
    background-color: palette.background-color("light");
    min-height: 500px;
    max-width: variables.$tablet-width;
    z-index: 0;

    @include media.tablet-and-up {
      border-radius: map.get(variables.$border-radius, md);
      height: auto;
    }
  }

  &__overlay {
    align-items: center;
    background-color: palette.$black-color;
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    opacity: 0.4;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }
}

/* dark theme */

[data-theme="dark"] {
  .modal {
    &__container {
      background-color: palette.background-color("dark");
    }
  }
}
