@use "@styles/mixins";
@use "@styles/palette";
@use "@styles/variables";
@use "sass:map";

$icon-size: 1.25rem; // 20px

.button {
  @include mixins.button-transition;
  align-items: center;
  background-color: transparent;
  border: none;
  border-radius: map.get(variables.$border-radius, sm);
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 0.625rem; // 10px

  &:focus {
    border-color: palette.focus-border-color("light");
    border-style: solid;
    border-width: 1px;
    outline: none;
  }

  &:hover {
    background-color: map.get(palette.$gray-palette, 100);
  }

  &__icon {
    height: $icon-size;
    width: $icon-size;
  }
}

[data-theme="dark"] {
  .button {
    &:focus {
      border-color: palette.focus-border-color("dark");
    }

    &:hover {
      background-color: map.get(palette.$white-alpha-palette, 100);
    }
  }
}


